# Mac

**/.DS_Store

# Quartus
*.v.bak
/quartus/*/*.qws
/quartus/*/.qsys_edit/
/quartus/*/db/
/quartus/*/greybox_tmp/
/quartus/*/incremental_db/
/quartus/*/output_files/*
/quartus/*/simulation/modelsim/*
!**.mif
!**.sof
!**.jic